*{
    font-family: 'Witcher Handwriting', sans-serif;
}

html, body{
    overflow-x: hidden;
}

.nav-link{
    font-size: 1.5em;
}

.scroll{
    width: 120%;
    position: absolute;
    display: flex;
    background: #ffc107;
    border: solid #000;
}

.scroll div{
    color: #000;
    font-size: 2em;
    white-space: nowrap;
    font-weight: 900;
    animation: animate1 10s linear infinite;
}

.scroll.text{
    transform: rotate(2.5deg) translateY(-30px) translateX(-5px);
}

.background1{
    background: url('/img/17098848.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    width: 200vh;
    overflow-y: hidden;
}

.title{
    margin-top: 50vh;
    text-align: center;
}

.positioning1{
    position: relative;
}

.pemisah1{
    background-color: #000;
    height: 0.5em;
}

@media only screen and (max-width: 900px){
    .scroll div{
        color: #000;
        font-size: 2em;
        white-space: nowrap;
        font-weight: 900;
        animation: animate2 10s linear infinite;
    }
}

@keyframes animate1{
    0%{
        transform: translateX(1010%);
    }

    100%{
        transform: translateX(-100%);
    }
}

@keyframes animate2{
    0%{
        transform: translateX(440%);
    }

    100%{
        transform: translateX(-100%);
    }
}