*{
    font-family: 'Acme', sans-serif;
}

html, body{
    overflow-x: hidden;
}

#bodyHome{
    background-color: black;
}

.overlay{
    color:#fff;
    background-color: black;
    text-align: center;
    padding: 1em;
    width: 35%;
}

.redirect{
    width: 75%;
    font-size: 25px;
}


.nav-link{
    color: yellow;
}

.nav-link:hover{
    color: white;
}

.c-item{
    height: 85vh;
    min-height: 300px;
}

.c-img{
    height: 100%;
    object-fit: cover;
    background-size: contain;
    filter: brightness(0.4);
}

.half-font{
    color: rgb(255, 193, 7);
}

.carousel-caption{
    top: 40vh;
    z-index: 2;
}

.carousel-caption .buttons{
    padding: 0.5em;
    font-size: 20px;
}

.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 23px;
    line-height: 1.9;
}

.navbar-nav li a{
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 0.3em;
    font-weight: 500;
}

.navbar-dark .navbar-brand{
    color: rgb(141, 115, 115);
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover{
    transition: all 1s ease;
    color: white;
}

.navbar-dark .navbar-nav .navbar-link{
    color: #000;
}

.w-100{
    height: 100vh;
}

.section-padding{
    padding: 100px 0;
}

.scrolled{
    background-color: black;
    transition: all 0.5s ease;
}

.form{
    margin-top: 10em;
}

.ig{
    font-size: 2em;
}

.scroll{
    width: 120%;
    position: absolute;
    display: flex;
    border: solid #8a7948;
}

.scroll div{
    color: #000;
    font-size: 2em;
    white-space: nowrap;
    font-weight: 900;
    animation: animate1 20s linear infinite;
    overflow: hidden;
}


.scroll.text{
    transform: rotate(2.5deg) translateY(-30px) translateX(-5px);
    overflow: hidden;
}

.scroll2{
    width: 120%;
    position: absolute;
    display: flex;
    border: solid #8a7948;
}

.scroll2 div{
    color: #000;
    font-size: 2em;
    white-space: nowrap;
    font-weight: 900;
    animation: animate1 20s linear infinite;
    overflow: hidden;
}


.scroll2.text{
    transform: rotate(2.5deg) translateY(-30px) translateX(-5px);
    overflow: hidden;
}

.positioning1{
    position: relative;
    z-index: 2;
}

.vr{
    border-left: 2px solid yellow;
    height: 500px;
}

.iconContact{
    font-size: 20px;
}

.dropdown-menu{
    width: 150%;
}

.productWCaption{
    text-decoration: none;
}

.productCaptionTemp{
    opacity: 0;
}

.productCaption{
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 50%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 90%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
}

.productWCaption:hover .productCaption{
    opacity: 1;
}

.dropdown-item:hover{
    width: fit-content;
    border-radius: 0.4em;
    color: yellowgreen;
    transition: 0.2s ease;
}

.bgInput{
    background-color: rgb(219, 208, 44);
    height: auto;
    width: 30vh;
    padding: 1em;
    border-radius: 0.5em;
}

.triggerBgPrd{
    display: flex;
}

.products{
    object-fit: cover;
    width: 275px;
    height: 305px;
}

.profileContainer{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 370px) and (max-width: 820px){
    .scroll div{
        color: #000;
        font-size: 2em;
        white-space: nowrap;
        font-weight: 900;
        animation: animate2 20s linear infinite;
    }

    .scroll2 div{
        color: #000;
        font-size: 2em;
        white-space: nowrap;
        font-weight: 900;
        animation: animate2 20s linear infinite;
    }

    .triggerBgPrd{
        display: block;
    }

    .products{
        object-fit: cover;
        width: 110px;
        height: 130px;
    }

    .carousel-caption h5{
        font-size: 40px;
    }

    .carousel-caption p{
        font-size: 25px;
        width: 100%;
    }

    .navbar-nav a{
        width: 50%;
    }

    .form h5{
        font-size: 15px;
        width: 100%;
    }

    .card{
        width: 150%;
        right: 3em;
    }

    .overlay{
        color:#fff;
        background-color: black;
        text-align: center;
        padding: 1em;
    }

}

@media (min-width: 768px) and (max-width: 1024px){
    .scroll div{
        color: #000;
        font-size: 2em;
        white-space: nowrap;
        font-weight: 900;
        animation: animate2 20s linear infinite;
    }

    .scroll2 div{
        color: #000;
        font-size: 2em;
        white-space: nowrap;
        font-weight: 900;
        animation: animate2 20s linear infinite;
    }

    .triggerBgPrd{
        display: block;
    }

    .products{
        object-fit: cover;
        width: 200px;
        height: 220px;
    }

    .carousel-caption h5{
        font-size: 40px;
    }

    .carousel-caption p{
        font-size: 25px;
        width: 100%;
    }

    .navbar-nav a{
        width: 50%;
    }

    .form h5{
        font-size: 15px;
        width: 100%;
    }

    .card{
        width: 150%;
        right: 3em;
    }

    .overlay{
        color:#fff;
        background-color: black;
        text-align: center;
        padding: 1em;
    }

}

@keyframes animate1{
    0%{
        transform: translateX(350%);
    }

    100%{
        transform: translateX(-110%);
    }
}

@keyframes animate2{
    0%{
        transform: translateX(190%);
    }

    100%{
        transform: translateX(-110%);
    }
}